<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> {{!-- force IE to take the latest renderingmode --}}
<meta http-equiv="ClearType" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{!-- DNS prefetch --}}
{{!-- <link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//www.google-analytics.com"> --}}

<title>{{#if fullRootMetaTitle}}{{_author}} | {{_authorTwitter}} | {{_sitename}}{{else}}{{ title }} | {{ _author }}{{/if}}</title>
<meta name="description" content="{{#if isNote}}{{#if subtitle}}{{subtitle}}: {{/if}}{{ firstparagraphText }} -- Note by {{_author}}{{else}}{{#if customMetaDescription}}{{customMetaDescription}}{{else}}{{ _description }}{{/if}}{{/if}}">
<meta name="author" content="{{ _author }}">

{{#if isNote}}
  {{#if tags}}
    <meta name="keywords" content="{{#each customMetaKeywords}}{{ this }}, {{/each}}{{#each tags}}{{ this }}, {{/each}}note, {{_keywords}}">
  {{else}}
    <meta name="keywords" content="{{#each customMetaKeywords}}{{ this }}, {{/each}}note, {{_keywords}}">
  {{/if}}
{{else}}
  <meta name="keywords" content="{{#each customMetaKeywords}}{{ this }}, {{/each}}{{_keywords}}">
{{/if}}

{{#if noRobots}}
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="nosnippet,nofollow">
{{else}}
  <meta name="robots" content="all">
{{/if}}

<meta name="copyright" content="Copyright {{dateFormatYear _builddate}} {{ _author }} ({{ _sitename }} | @{{_authorTwitter}})">
<meta http-equiv="last-modified" content="{{dateFormatMeta lastModified}}">

<meta name="city" content="Vienna" />
<meta name="country" content="Austria" />

{{> favicons}}


