<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> {{!-- force IE to take the latest renderingmode --}}
<meta http-equiv="ClearType" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{!-- DNS prefetch --}}
{{!-- <link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//www.google-analytics.com"> --}}

<title>{{ title }} | {{ _author }}</title>
<meta name="description" content="{{#if isNote}}{{ firstparagraphText }} -- Note by {{_author}}{{else}}{{ _description }}{{/if}}">
<meta name="author" content="{{ _author }}">

{{#if isNote}}
  {{#if tags}}
    <meta name="keywords" content="{{_keywords}}, note, {{#each tags}}{{ this }}, {{/each}}">
  {{else}}
    <meta name="keywords" content="{{_keywords}}, note">
  {{/if}}
{{else}}
  <meta name="keywords" content="{{_keywords}}">
{{/if}}

{{#if noRobots}}
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="nosnippet,nofollow">
{{else}}
  <meta name="robots" content="all">
{{/if}}

<meta name="copyright" content="Copyright {{dateFormatYear _builddate}} {{ _author }} ({{ _sitename }} | @{{_authorTwitter}})">
<meta http-equiv="last-modified" content="{{dateFormatMeta lastModified}}">

<meta name="city" content="Graz" />
<meta name="zipcode" content="8010" />
<meta name="country" content="Austria" />
<meta name="state" content="Austria" />
<meta name="geo.position" content="47.070714;15.439504" />
<meta name="geo.placename" content="Austria, Graz" />
<meta name="geo.region" content="AT" />
<meta name="ICBM" content="47.070714, 15.439504" />




