<div id="footer_push"></div>
<footer class="block-footer">
  <div class="container-fluid text-center">
    <p>{{!-- &copy; --}}<i class="fa fa-copyright"></i> {{_year}} {{_author}} | {{!-- <a href="/">{{uppercase _sitename}}</a> | --}} {{> twitterLink}}</p>
    <p class="no-margin fontsize-smaller">Page last modified {{formattedLastModified}}</p>
    <p class="fontsize-mini no-margin">Content under <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/at/">creative commons (CC BY-NC-SA 2.0 AT)</a></p>
    <p class="fontsize-mini">Code under MIT license.</p>
    <p class="no-margin fontsize-mini">Handcrafted, <a href="http://www.metalsmith.io/">metalsmithed</a> and published at <a href="{{_siterepo}}">GitHub</a></p>
    <p class="no-margin fontsize-mini"><i class="fa fa-git fa-lg"></i>&nbsp;branch master@{{_gitrevision}}</p>
  </div>
</footer>