<div id="footer_push"></div>
<footer class="block-footer">
  <div class="container-fluid text-center">
    <p><i class="fa fa-copyright"></i> {{dateFormatYear _builddate}} {{_author}} | {{> twitterLink}}</p>
    <p class="no-margin fontsize-smaller">Page last modified {{dateFormatLong lastModified}}</p>
    <p class="fontsize-mini no-margin">Content under <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/at/">creative commons (CC BY-NC-SA 2.0 AT)</a></p>
    <p class="fontsize-mini">Source code under <a href="http://www.mit-missing-license.com">MIT license</a></p>
    <p class="no-margin fontsize-mini">Handcrafted &amp; <a href="http://www.metalsmith.io/">metalsmithed</a> · published at <a href="{{_siterepo}}">GitHub Pages</a></p>
    <p class="no-margin fontsize-mini">On branch <a href="{{_siterepo}}commits/source">source</a> · {{_gitcommitcount}} commits · <a href="{{_siterepo}}commit/{{_gitrevision}}">{{_gitrevision}}</a>{{#if _dev}}-DEVMODE{{/if}}</p>
  </div>
  {{> footerBottomText}}
</footer>