<footer class="block-footer">
  <div class="container-fluid">
    {{!-- <hr> --}}
    <p class="text-muted text-center">{{uppercase title}} src last modified {{formattedLastModified}}<br />
    {{uppercase _sitename}} contents generated on {{_builddate}}<br />
      {{#each subpages}}
        <a href="/{{ path }}">{{uppercase title }}</a>
      {{/each}}
    </p>
  </div>
</footer>