<footer class="block-footer">
  <div class="container-fluid">
  <hr class="scissor">
    <p class="text-muted text-center">{{uppercase title}} src last modified {{formattedLastModified}}<br />
    {{uppercase _sitename}} generated on {{_builddate}}<br />
      {{#each subpages}}
        <a href="/{{ path }}">{{uppercase title }}</a>
      {{/each}}
    </p>
  </div>
</footer>