<div id="footer_push"></div>
<footer class="block-footer">
  <div class="container-fluid text-center">
    <p><i class="fa fa-copyright"></i> {{dateFormatYear _builddate}} {{_author}} | {{> twitterLink}}</p>
    {{!-- <p class="no-margin fontsize-smaller">Page last modified {{dateFormatLong lastModified}}</p> --}}
    <p class="footer-trivialpages">{{#each trivialpages}}<a href="/{{this.path}}">{{this.title}}</a>{{#unless @last}} · {{/unless}}{{/each}}</p>

    <p class="fontsize-mini no-margin">Content under <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/at/">Creative Commons (CC BY-NC-SA 2.0 AT)</a></p>
    <p class="fontsize-mini">Code under <a href="http://majodev.mit-license.org/">MIT License</a></p>
    <p class="fontsize-mini">{{!-- The opinions expressed herein are exclusively my own personal<br/>opinions and do not represent my employer’s view in any way. --}}{{!--  &amp; <a href="http://www.metalsmith.io/">metalsmithed</a> --}}{{!--  · published at <a href="{{_siterepo}}">GitHub Pages</a> --}}</p>

    <p class="no-margin fontsize-mini">{{!-- On branch <a href="{{_siterepo}}commits/source">source</a> · {{_gitcommitcount}} commits ·  --}}<a href="{{_siterepo}}{{_gitrevision}}">{{_gitrevision}}</a>{{#if _dev}}-DEVMODE{{/if}}</p>
  </div>
  {{!-- {{> footerBottomText}} --}}
</footer>