<div class="thumbnail">
  {{#if pic}}<img src="{{pic}}" alt="{{name}}">{{/if}}
  <div class="caption">
    <h5>{{name}}</h5>
    {{#each links}}
      <p><a class="btn btn-block btn-primary" href="{{url}}" target="_blank">{{caption}}</a></p>
    {{/each}}
    {{!-- <p><a class="btn btn-block btn-primary" href="{{url}}" target="_blank"><i class="fa fa-download"></i>&nbsp;&nbsp;PDF</a></p> --}}
  </div>
</div>