{{!-- via http://atomenabled.org/developers/syndication/#sampleFeed --}}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ _author }}'site | @{{_authorTwitter}}</title>
  <description>notes by {{ _author }}</description>
  <link href="{{ _absoluteUrl }}"/>
  <updated>{{ dateFormatISO _builddate }}</updated>
  <author>
    <name>{{ _author }}</name>
  </author>
  <id>{{ _absoluteUrl }}</id>
  <icon>{{ _absoluteUrl }}apple-touch-icon-precomposed.png</icon>
  <logo>{{ _absoluteUrl }}tile-wide.png</logo>
  <rights> © {{dateFormatYear _builddate}} {{_author}} </rights>
  {{#each notes }}
  <entry>
    <title>{{ this.title }}</title>
    <link href="{{ ../_absoluteUrl }}{{ this.path }}"/>
    <id>{{ ../_absoluteUrl }}{{ this.path }}</id>
    <updated>{{ dateFormatISO lastModified }}</updated>
    <published>{{ dateFormatISO date }}</published>
    <summary>{{ this.firstparagraphText }}</summary>
    <content type="html" src="{{ ../_absoluteUrl }}{{this.path}}"></content>
    <author>
      <name>{{ ../_author }}</name>
    </author>
  </entry>
  {{/each}}
</feed>