{{> pre}}
{{> noteHeader}}
<div class="template-note container-fluid">
  <main>
    {{> noteNavigator}}
    <article>
      <h1>{{title}}</h1>
      <h5><time datetime={{date}}>{{formattedDate}}</time> | {{> tagList}} <small>{{wordCount}} words, {{readingTime}}</small></h5>
      {{{ contents }}}
    </article>
  </main> {{!-- end main-content --}}
</div> {{!-- end container --}}
{{> footer}}
{{> post}}