{{> pre}}
{{#if next}}
  <div class="note-previous">
    <a href="/{{ next.path }}">previous: {{ next.title }}</a>
  </div>
{{/if}}
<h1>{{title}}</h1>
<h2>{{formattedDate}}</h2>
{{#if tags}}
  <div class="note-tags">
    <h3>tags: {{#each tags}} #{{this}} {{/each}}</h3>
  </div>
{{/if}}
{{{ contents }}}
{{#if previous}}
  <div class="note-next">
    <a href="/{{ previous.path }}">next: {{ previous.title }}</a>
  </div>
{{/if}}
{{> post}}