{{> pre}}
<div class="row">
  <div class="col-xs-6">
    {{#if next}}
      <div class="note-previous">
        <a href="/{{ next.path }}">previous: {{ next.title }}</a>
      </div>
    {{/if}}
  </div>
  <div class="col-xs-6">
    {{#if previous}}
      <div class="note-next text-right">
        <a href="/{{ previous.path }}">next: {{ previous.title }}</a>
      </div>
    {{/if}}
  </div>
</div>
<article>
  <h1 class="bg-navy aqua">{{title}}</h1>
  <h2 class="gray">{{formattedDate}}</h2>
  {{#if tags}}
    <div class="note-tags">
      <h3>tags: {{> tags}}</h3>
    </div>
  {{/if}}
  <h4 class="gray">{{wordCount}} words, estimated reading time: {{readingTime}}, last modified on {{formattedLastModified}}</h4>
  {{{ contents }}}
</article>
{{> post}}