{{> pre}}
{{> noteHeader}}
<div class="template-note container-fluid">
  <main>
    {{> noteNavigator}}
    <article>
      {{> noteTitle}}
      {{!-- <h1></h1> --}}
      <h5 class="text-center">by Mario Ranftl | <time datetime={{date}}>{{formattedDate}}</time> | {{> tagList}} <small>{{wordCount}} words, {{readingTime}}</small></h5>
      <hr>
      {{{ contents }}}
    </article>
  </main> {{!-- end main-content --}}
</div> {{!-- end container --}}
{{> footer}}
{{> post}}