{{> pre}}
{{> noteHeader}}
<div class="template-note container-fluid">
  <main>
    {{> noteNavigator}}
    <article>
      <h1 class="bg-navy aqua">{{title}}</h1>
      <h2 class="gray">{{formattedDate}}</h2>
      {{#if tags}}
        <h3>tags: {{> tagList}}</h3>
      {{/if}}
      <h4 class="gray">{{wordCount}} words, estimated reading time: {{readingTime}}, last modified on {{formattedLastModified}}</h4>
      {{{ contents }}}
    </article>
    {{> noteNavigator}}
  </main> {{!-- end main-content --}}
</div> {{!-- end container --}}
{{> footer}}
{{> post}}