{{> pre}}
{{#if next}}
  <div class="note-previous">
    <a href="/{{ next.path }}">previous: {{ next.title }}</a>
  </div>
{{/if}}
<h1>{{title}}</h1>
{{{ contents }}}
{{#if previous}}
  <div class="note-next">
    <a href="/{{ previous.path }}">next: {{ previous.title }}</a>
  </div>
{{/if}}
{{> post}}