{{> pre}}
{{> noteHeader}}
<div class="template-note container-fluid">
  <main>
    {{> noteNavigator}}
    <article>
      <h1>{{title}}</h1>
      <h5><time datetime={{date}}>{{formattedDate}}</time> | {{> tagList}} | {{wordCount}} words | {{readingTime}}</h5>
      {{{ contents }}}
    </article>
    <small>last modified on {{formattedLastModified}}</small>
  </main> {{!-- end main-content --}}
</div> {{!-- end container --}}
{{> footer}}
{{> post}}