{{> pre}}
{{#if next}}
  <div class="note-previous bg-silver">
    <a href="/{{ next.path }}">previous: {{ next.title }}</a>
  </div>
{{/if}}
<article>
  <h1 class="bg-navy aqua">{{title}}</h1>
  <h2 class="gray">{{formattedDate}}</h2>
  {{#if tags}}
    <div class="note-tags">
      <h3>tags: {{> tags}}</h3>
    </div>
  {{/if}}
  {{{ contents }}}
</article>
{{#if previous}}
  <div class="note-next bg-silver">
    <a href="/{{ previous.path }}">next: {{ previous.title }}</a>
  </div>
{{/if}}
{{> post}}