---
title: tags
template: default.hbs
sequence: 7
---

you are currently viewing the `{{title}}` page, based on the template `{{template}}`!

# {{title}}

<div class="tags">
  {{#each _sortedTags}}
    <h2 id="{{tag}}">#{{tag}}</h2>
    {{#each children}}
      <a href=/{{path}}>{{title}}</a><br />
    {{/each}}
  {{/each}}
</div>