---
title: tags
template: default.hbs
sequence: 7
---

you are currently viewing the `{{title}}` page, based on the template `{{template}}`!

# {{title}}

<div class="notes">
  {{#each _tags}}
    <h2 id="{{@key}}">{{@key}}</h2>
    {{#each this}}
      <a href=/{{path}}>{{title}}</a><br />
    {{/each}}
  {{/each}}
</div>